<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block"><img src="" alt=""></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    
                                    <h1 class="h6 text-gray-500 mb-4">Welcome Back!</h1>
                                </div>
                                <div class="user">
                                    <form #loginForm="ngForm" (ngSubmit)="login()">
                                        <div>
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." [(ngModel)]="client.email" [ngModelOptions]="{standalone : true}"><br>
                                        </div>
                                        <div>
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password" [(ngModel)]="client.password" [ngModelOptions]="{standalone : true}"><br>
                                        </div>
                                        <div>
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label><br>
                                            </div>
                                        </div>

                                        <br><button class="btn btn-primary btn-user btn-block">Login</button><br>

                                    </form>
                                </div>
                                <span id="logerror"></span>

                                <div class="text-center">
                                    <a class="small" routerLink="addClient">SignUp</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>