<div class="row">

    <div class="col-lg-6">


        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tous mes Appels d'Offres</h6>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-lg-12">
                        <table class="table" id="listeaos">
                            <thead>
                                <tr>
                                    <th scope="col">Réf</th>
                                    <th scope="col">titre</th>
                                    <th scope="col">DLR</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let u of mesAO" >
                                    <th>{{u.ref}}</th>
                                    <td>{{u.title}}</td>
                                    <td>{{u.limitDate}}</td>
                                    <td><button type="button" value="submit" class="btn btn-info" (click) ="afficheAO(u._id)"><i class="fa fa-edit"></i>Modifier</button></td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Appel d'Offres à modifier</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="infoAO" *ngIf = "aoToModify">
                            <h6>Réf : {{aoToModify.ref}}</h6>
                            <h6>Titre : {{aoToModify.title}}</h6>
                            <h6>Texte : {{aoToModify.text}}</h6>
                            <h6>Date limite de Réponse : {{aoToModify.limitDate}}</h6>
                            <h6>Date lancement AO : {{aoToModify.launchDate}}</h6>
                            <h6>Secteur d'activité : {{aoToModify.sa}}</h6>
                            <h6>Lieux d'exécution : {{aoToModify.place}}</h6>
                            <h6>Livraison : {{aoToModify.delivery}}</h6>
                            <h6>Région fournisseur : {{aoToModify.placeVendor}}</h6>
                            <h6>Etat : {{aoToModify.state}}</h6>
                            <h6>Rectification : {{aoToModify.rectifs}}</h6>
                        </div>
                        <hr>
                    </div>
                    <form #rectifAOForm="ngForm" (ngSubmit)="modifAO(aoToModify._id)">
                    <div class="col-lg-12">
                        
                        <label class="font-weight-bold text-success mb-1" for="exampleFormControlTextarea1">
                            <h6>Texte du Rectificatif</h6>
                        </label>
                        <textarea class="form-control" id="rectiftext" rows="3" placeholder="Rectification" [(ngModel)]="rectif.txt" [ngModelOptions]="{standalone : true}"></textarea>

                        <hr>
                    
                    </div><br>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="font-weight-bold text-warning mb-1" for="datelimit">
                                    <h6>Nouvelle Date limite*</h6>
                                </label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="date" class="form-control" id="rectifdatelimit" [(ngModel)]="rectif.newDate" [ngModelOptions]="{standalone : true}">
                                    <p>*En cas ou vous allez rectifier la date limite de réception des réponses Inserer
                                        la nouvelle Date Ici</p>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <Div class="row">
                                    <div class="col-lg-6"> <button class="btn btn-warning btn-lg">Modifier AO</button>
                                    </div>
                                    <div class="col-lg-6"><button type="button" value="submit"
                                            class="btn btn-danger btn-lg" (click)="deleteAO(aoToModify._id)">Annuler AO</button></div>
                                </Div>
                            </div>



                        </div>
                    </div>
                </form>
                
                </div>

            </div>



        </div>
    </div>





</div>